html, body {
  margin: 0;
  padding: 0;
  background: #555;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 15px;
}

.section {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#globe {
  cursor: move;
}

#details {
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.story {
  margin-bottom: 30px;
}

.story p {
  margin-top: 4px;
  margin-bottom: 0px;
}
.story a {
  color: #fff;
}
.story .time {
  display: block;
  font-size: 10px;
}
