html, body {
  margin: 0;
  padding: 0;
  background: #555;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#globe {
  cursor: move;
}

#current {
  color: white;
  font-family: sans-serif;
}
